@import "/src/themes/mixin.scss";

.user-margin {
  margin: 0 16px 0 8px !important;
}

.header-container {
  height: 20%;
  .header-appbar {
    @extend .header-container;
    display: flex;
    justify-content: center;
    .header-toolbar {
      @include flex-space-between;
      .user-container {
        @include flex-center;
        flex-direction: row;
        .header-user-icon {
          font-size: 24px;
          color: white;
          background: rgb(221, 221, 221);
          width: 40px;
          height: 40px;
          border-radius: 24px;
          @include flex-center;
        }
        .username {
          @extend .user-margin;
        }
        .role {
          @extend .user-margin;
        }
      }
    }
  }
}
