@import "/src/themes/mixin.scss";

.user-margin {
    margin: 0 16px 0 8px !important;
}

.header-container {
  height: 100px;
}

.header-appbar {
  @extend .header-container;
  display: flex;
  justify-content: center;
}

.header-user-icon {
  font-size: 28px;
  color: white;
  background: rgb(221, 221, 221);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  @include flex-center;
}

.header-toolbar {
  @include flex-space-between;
}

.user-container {
  @include flex-center;
  flex-direction: row;
    .username {
        @extend .user-margin;
    }
    .role {
        @extend .user-margin;
    }
}

