@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-space-around {
  display: flex;
  justify-content: space-around;
}

@mixin content {
  padding: 24px;
  margin: 16px;
  min-height: 280px;
  background: rgb(235, 235, 235);
  border-radius: 20px;
  height: 85vh;
  overflow-y: scroll;
}

@mixin button-general {
  background: $main-color !important;
  color: white;
  &:hover {
    color: white !important;
    box-shadow: 2px 2px 4px 1px $main-color-light;
  }
  &:focus {
    background: $main-color-dark !important;
    color: #eee;
  }
}

@mixin disable {
  cursor: not-allowed;
  background: rgb(194, 194, 194);
  color: rgb(61, 61, 61);
  border: none;
}

@mixin text-style($padding: null, $margin: null, $color: null, $font-size: null, $font-weight: null) {
  @if $font-size != null {
    font-size: $font-size;
  }
  @if $color != null {
    color: $color;
  }
  @if $font-weight != null {
    font-weight: $font-weight;
  }
  @if $padding != null {
    padding: $padding;
  }
  @if $margin != null {
    margin: $margin;
  }
}

@mixin wrapper-style(
  $width: null,
  $height: null,
  $left: null,
  $right: null,
  $margin: null,
  $padding: null,
  $background: null,
  $border-radius: null,
  $z-index: null
) {
  @if $width != null {
    width: $width;
  }
  @if $height != null {
    height: $height;
  }
  @if $left != null {
    left: $left;
  }
  @if $right != null {
    right: $right;
  }
  @if $margin != null {
    margin: $margin;
  }
  @if $padding != null {
    padding: $padding;
  }
  @if $background != null {
    background: $background;
  }
  @if $border-radius != null {
    border-radius: $border-radius;
  }
  @if $z-index != null {
    z-index: $z-index;
  }
}
