@import "/src/shared/themes/mixin.scss";
$main-color: #7494ec;
$main-color-light: rgb(178, 187, 208);
$main-color-dark: #5a78cc;
$item-margin: 12px 0 12px 0;

.student-detail-card {
  width: 50%;
  margin-inline: auto;
  .student-detail-form,
  .student-detail-form > div {
    @include flex-column;
    padding: 0;
    .ant-picker,
    .student-detail-item-input {
      background: #eee;
      margin: 12px 0 12px 0;
      &:focus-within {
        border: 2px solid $main-color;
      }
    }
    .student-detail-item-radio {
      margin: $item-margin;
    }
    .student-detail-form-button {
      background: $main-color !important;
      width: 72px;
      color: white;
      &:hover {
        color: white;
        box-shadow: 2px 2px 4px 1px $main-color-light;
      }
      &:focus {
        background: $main-color-dark !important;
        color: #eee;
      }
    }
  }
}
