@import "/src/shared/themes/mixin.scss";
$main-color: #7494ec;
$main-color-light: rgb(178, 187, 208);
$main-color-dark: #5a78cc;
$item-margin: 12px 0 12px 0;

.student-detail-container {
  @include content;
}

.delete-parent-button {
  margin-left: auto;
}

.ant-collapse-expand-icon,
.ant-collapse-header-text {
  align-self: center;
}

.student-detail-title {
  margin: 0 !important;
}

.student-detail-title-wrapper {
  @include flex-space-between;
}

.student-detail-form-button-top,
.student-detail-form-button-bottom {
  @include button-general;
  align-self: center;
}

.student-detail-form-button-bottom {
  left: 100vh;
}

.disable {
  margin-top: 12px;
  @include disable;
  &:hover {
    @include disable;
  }
  &:focus {
    @include disable;
  }
}

.student-detail-card {
  width: 50%;
  margin-inline: auto;
  .student-detail-form,
  .student-detail-form > div {
    @include flex-column;
    padding: 0;
    .ant-picker,
    .student-detail-item-input {
      background: #eee;
      margin: 12px 0 12px 0;
      &:focus-within {
        border: 2px solid $main-color;
      }
    }
    .student-detail-item-radio {
      margin: $item-margin;
    }
  }
}
